.header {
  padding: 20px 0;
  background-color: #f7ebe5;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__list {
      display: flex;
      gap: 15px;

      a {
        font-size: 14px;
        transition: 0.2s;

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }

  &__top__left {
    display: flex;
    align-items: center;
    gap: 30px;

    p {
      font-size: 14px;
      transition: 0.2s;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  &__select {
    display: flex;
    align-items: center;
    gap: 5px;

    select {
      border: 1px solid #ddd;
      border-radius: 2px;
      background-color: transparent;
      cursor: pointer;
    }
  }

  &__phone {
    display: flex;
    gap: 10px;
  }

  &__cart {
    display: flex;
    gap: 10px;
  }

  &__socials {
    display: flex;
    gap: 10px;
  }

  &__bottom {
    padding: 18px 0;
    &__list {
      display: flex;
      align-items: center;
      gap: 30px;
    }

    &__link {
      text-wrap: nowrap;

      transition: 0.2s;

      &:hover {
        opacity: 0.6;
      }
    }

    &__item {
      display: flex;
      align-items: center;
    }
  }
}

@media (max-width: 1100px) {
  .header {
    &__top {
      flex-direction: column;
      gap: 15px;
    }
  }
}
